::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  line-height: 1.5em;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  color: #242323;
  background-color: white;
}

.column_w530,
.column_w300 {
  float: right;
  width: 100%; /* example value */
}
@media only screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }

  .column_w530,
  .column_w300 {
    float: flex;
    width: 100%;
  }
}

a:link,
a:visited {
  color: rgb(255, 238, 87);
  text-decoration: underline;
  font-weight: normal;
}
a:active,
a:hover {
  color: rgb(255, 238, 87);
  text-decoration: none;
}

p {
  margin: 0px;
  padding: 0px;
}

img {
  margin: 0px;
  padding: 0px;
  border: none;
}

.abc {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  color: white;
  float: right;
  word-spacing: 2px;
}

.abc a {
  color: white;
  text-decoration: none;
}

.cleaner {
  clear: both;
  width: 100%;
  height: 0px;
  font-size: 0px;
}

.margin_bottom_10 {
  clear: both;
  width: 100%;
  height: 10px;
  font-size: 1px;
}
.margin_bottom_15 {
  clear: both;
  width: 100%;
  height: 15px;
  font-size: 1px;
}
.margin_bottom_20 {
  clear: both;
  width: 100%;
  height: 20px;
  font-size: 1px;
}
.margin_bottom_30 {
  clear: both;
  width: 100%;
  height: 30px;
  font-size: 1px;
}
.margin_bottom_40 {
  clear: both;
  width: 100%;
  height: 40px;
  font-size: 1px;
}
.margin_bottom_50 {
  clear: both;
  width: 100%;
  height: 50px;
  font-size: 1px;
}
.margin_bottom_60 {
  clear: both;
  width: 100%;
  height: 60px;
  font-size: 1px;
}

.margin_right_40 {
  margin-right: 40px;
}
.margin_right_70 {
  margin-right: 70px;
}

.fl {
  float: left;
}
.fr {
  float: right;
}

.button_01 a {
  clear: both;
  display: block;
  width: 100px;
  height: 23px;
  padding-top: 5px;
  background: no-repeat;

  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

.header_01 {
  clear: both;
  padding-top: 2%;
  font-weight: 700;
  line-height: 10px;
  /* color: #ffffff; */
  color: black;
  margin-left: 0px;
  font-family: "Quicksand", sans-serif;
}
.header_02 {
  clear: both;
  padding-top: 2%;
  margin-left: 0%;
  font-weight: 100;
  line-height: 30px;
  /* color: #ffffff; */
  color: black;
  margin-left: 0px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
}

#templatemo_header_wrapper {
  height: 65px;

  display: flex-start;
  padding-top: 1%;
  background: rgba(0, 100, 188, 0.8);
}

#templatemo_header_wrapper {
  position: sticky;
  margin-top: 0.5%;
  display: flex;
  margin-right: 0px;
  width: 80%;
  top: 0;
  z-index: 1000; /* High z-index to ensure it stays above other content */
}

#templatemo_header {
  width: auto;
  margin: 0 auto;
  display: flex-end;
}
#templatemo_header a:hover {
  /* color: rgb(255, 235, 56); */
  color: rgb(255, 238, 87);
}

#templatemo_header #site_logo {
  float: left;
  width: 300px;
  height: 84px;
  font-size: 40px;
  color: #ffffff;
  background: no-repeat;
}

/* menu */

#templatemo_menu {
  position: relative;
  float: right;
  height: 47px;
  margin: 20px 40px 0 0;
  background: right no-repeat;
}

#templatemo_menu #templatemo_menu_left {
  position: absolute;
  width: 20px;
  height: 47px;
  top: 0px;
  left: 0px;
  background: no-repeat;
}

#templatemo_menu ul {
  margin: 10px 20px 0 0;
  padding: 0px;
  list-style: none;
}

#templatemo_menu ul li {
  padding: 0px;
  margin: 0px;
  display: inline;
}

#templatemo_menu ul li a {
  float: left;
  display: block;
  width: 100px;
  padding: 5px 0;
  background: right repeat-y;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #919191;
  font-weight: normal;
  outline: none;
}

#templatemo_menu li a:hover,
#templatemo_menu li .current {
  color: #899fd7;
}

#templatemo_menu li .last {
  background: none;
}

/* end of menu*/

/* end of header */

#templatemo_banner_wrapper {
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-top: 0;
}

#templatemo_banner {
  display: flex;
  align-items: flex-start; /* Vertically center the items */
  justify-content: flex-start; /* Distribute space between the items */
}
#templatemo_banner #templatemo_banner_image {
  margin-right: 20px;
}

#templatemo_banner_content {
  float: left;
  text-align: justify;
  width: 700px;
  margin-left: 2%;
}

#templatemo_banner_content p {
  color: #acadaf;
  font-size: 15px;
}

#templatemo_banner_image_wrapper {
  position: relative;
  width: 300px;
  height: 150px;
  background: no-repeat;
  top: 0px;
  left: 0px;
}

#templatemo_banner_image_wrapper img {
  position: absolute;
  width: 280px;
  height: 140px;
  top: 10px;
  left: 10px;
}

/* content */

#templatemo_content_wrapper {
  clear: both;
  width: 1100px;
  margin: 0 auto;
  padding: auto;
  background: #ffffff;
}

#templatemo_content {
  width: 1100px;
  padding: 50px 40px;
  background: #ffffff;
}

#column_w530 {
  float: right;
  padding-right: 0;
  width: 200px;
  line-height: 20px;
  background: #ffffff;
}

#column_w300 {
  display: inline-table;
  width: 100%;
  align-items: center;
  margin-left: 0%;
  margin-top: 2%;
  margin-bottom: 2%;
  background: #efefef;
  border: 1px solid #6e6767;
}

#column_w530 .em_text {
  color: rgb(220, 62, 62);
  text-align: center;
}

#column_w530 p {
  margin-bottom: 15px;
  font-size: 16px;
}

.content_list_01 {
  margin: 0 0 0 30px;
  padding: 0px;
  list-style: square;
}

.content_list_01 li {
  margin: 0px;
  padding: 0 0 10px 10px;
}

.content_section_01 {
  text-align: center;
  border-left: 10px solid #536592;
  padding-left: 20px;
}

.column_w300_section_01 {
  clear: both;
  padding: 10px 10px;
  background: bottom repeat-x;
}

.even_color {
  background: #e0dfdf;
  text-align: center;
}

.news_image_wrapper {
  float: left;
  width: 70px;
  height: 70px;
  padding: 4px;
  margin: 3px 0 0 0;
  border: 1px solid #dad8d8;
  background: #ffffff;
}

.news_image_wrapper img {
  width: 69px;
  height: 69px;
  border: 1px solid #9c9d85;
}

.news_content {
  text-align: center;
  width: 370px;
}

.news_content .news_date {
  font-size: 12px;
  color: #9a9a9a;
}

.news_content p {
  line-height: 16px;
  font-size: 14px;
  color: #454545;
  text-align: center;
}
/* .bordered-iframe {
  border: 2px solid #000;
} */

/* end of content
  
  /* footer */

#templatemo_footer_wrapper {
  width: 100%;
  margin: 0 auto;
  /* background: #727777; */
}

#templatemo_footer {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 20px 30px;
  margin: 0 auto;
}

#templatemo_footer a {
  text-decoration: none;
  font-size: 14px;
  align-items: center;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
  color: rgb(207, 249, 37);
}

.section_w180 {
  float: left;
  width: 160px;
  padding: 0 20px 0 0;
}

.section_w180_content {
  padding: 0 0 0 20px;
}

#templatemo_footer .footer_menu_list {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

#templatemo_footer .footer_menu_list li {
  margin: 0 0 5px 0;
  padding: 0px;
}

#templatemo_footer .footer_menu_list li a {
  color: #928b85;
  font-weight: normal;
  text-decoration: none;
}

.button {
  background-color: #0064bc;
  color: white;
  text-align: center;
  padding: 10px 25px;
  margin: 4px 2px;
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  border: none;
  cursor: pointer;
  border-radius: 12px;
}
.button {
  background-color: #0064bc; /* Default color */
  /* ... other styles for the button ... */
}

.button:hover {
  background-color: #b9e2f5; /* Hover color */
}

.button.active {
  background-color: #b9e2f5;
  color: black; /* Active color for clicked button */
}

#column_w1000 {
  float: left;
  width: 100%;
  line-height: 20px;
  background: #ffffff;
}

#column_w1000 .em_text {
  color: #000;
  text-align: center;
}

#column_w1000 p {
  margin-bottom: 15px;
  font-size: 15px;
}

#content_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
}
#content_buttons .button:hover {
  background-color: #b9e2f5;
  color: black;
}
#content_buttons .button:focus {
  background-color: #b9e2f5;
  color: black;
}

.em_text {
  text-align: justify;
}
.Lab-content {
  margin-top: 10px;
  text-align: left;
  margin-left: 20px;
  font-size: large;
}

/* end of footer */

#dr.ajay_brief {
  margin: auto 20px;
  display: block;
}
